{{#each shelters}}
    <div class="resource-card">
        <div class="shown" onclick="dropDown('hidden', '{{id}}')">
            <div>{{name}}</div>
            <a class="phone" href="tel:{{phone}}">{{phone}}</a>
            <i>downarrow</i>
        </div>
        <div class="hidden" id="elks">
            <div class="phone">
                <a href="https://maps.google.com/?q={{address}}"><p>{{address}}</p></a>
                <a class="web" href="{{website}}">{{website}}</a>
            </div>
            <p>{{description}}</p>
        </div>
    </div>
{{/each}}